:root {
  --btn-vespa: #84b301;
  --bg-inner: #f4f1f1;
  --bg-outer: #ffffff;
}

.App{
  background-color: #fdb403;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  filter: brightness(1);
  background-image: url("http://localhost:3005/images/vespa8.jpg");
  /* background: linear-gradient( rgba(232, 160, 3, 0.872), rgba(0, 0, 0, 0.5) ), url('http://localhost:3005/images/vespa7.jpg'); */
  background-size: cover;
  background-position: 20% 40%
}

.mainTitle {
  font-weight: bold;
  font-size: 60px;
  font-family: 'Nunito';
}

.btn-vespa {
  background-color: var(--btn-vespa);
  color:white
}

.main-bg {
  background-color: var(--bg-inner);
}

.contend-bg{
  background-color: var(--bg-outer);
}

.test_ride_bg {
  /* background-image: url("http://localhost:3005/images/vespa8.jpg"); */
  background: linear-gradient( rgba(35, 215, 107, 0.566), rgba(35, 215, 107, 0.566) ), url('http://localhost:3005/images/vespa8.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fdb403;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: 20% 40%;
  align-items: center;
  justify-content: center;
  padding:220px;
  color:white;
  opacity: 60%;

}